<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

<input type="text" placeholder="Enter User name" id="userName">
<input type="password" placeholder="Enter password" id="password">
<button id="btn">Log in</button>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(()=>{


        $('#btn').click(()=>{

            let a= $('#userName').val()
            let b= $('#password').val()

            if(a==""){
                alert("Please Enter a User Name")
            } else if(b==""){
                alert("Please Enter a password")
            } else {
                alert("Welcome")
            }


        })

      




    })
   

</script>